.modal-content{
    background-color: #b86b0e;
}
.btn-primary{
    background-color: #ced3bd;
}

 .img{
        border: 1px solid black;
        float:left;
    }
 h1{
     text-align: center;
    }
h2{
    font-size: 20px;
}
.card{
    width: 100%;
    display: inline-flex;
}